<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make the Dream Work - build your team.</title>
    <link rel="stylesheet" href="/static/style.css">
<style>
</style>
  </head>
  <body>
	  <h1>Teamwork Makes the Dream Work</h1>
	  <h2>Accomplish your goal by forming a team.</h2>
	  <form action='/team' method='post'>
		  {% csrf_token %}
		  <input type='text' name='objective' placeholder='Run for office' required id='objective'>
		  <input type='submit' value='Make a team'>
	  </form>
	  <p>This site uses AI to put you on the first step toward doing something <strong>bigger than yourself</strong>.</p>
	  <p>Enter an objective above. Think <strong>big</strong>. (And please be patient, it's a multi-step process.) </p>

  </body>
  <script>
	  const placeholders = [
    "Create interactive art installation",
    "Develop gamified educational platform",
    "Produce documentary film",
    "Design sustainable fashion line",
    "Connect volunteers with non-profits",
    "End slavery once and for all",
    "Launch augmented reality game",
    "Design eco-friendly home products",
    "Recycle and repurpose plastic waste",
    "Launch innovative podcast series",
    "Reduce homelessness in America to near-zero",
    "Produce immersive theatrical experience",
    "Connect people with shared values",
    "Design eco-friendly toys and games",
    "Offer online mentoring and coaching",
    "Invent a new genre of music",
    "Connect artists with buyers",
    "Teach creative skills to underserved",
    "Run for President of the USA",
    "Get better at math",
    "Find the love of my life",
    "Get back to learning",
    "Discover the wonder of the cosmos",
    "Go to the moon"

];
	  var remainingPlaceholders = placeholders.slice();

	  window.setInterval(function() {
			    var next = remainingPlaceholders.pop();
			    if (!next) {
					      remainingPlaceholders = placeholders.slice();
					      next = remainingPlaceholders.pop();
			      }
			    document.getElementById('objective').placeholder = next;

		    }, 2000);
	  //window.document.getElementById('objective').focus();
  </script>
</html>
