<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ generation_progress_percent|default:"0"}}% - {{ team.objective|default:"Denied" }} Team</title>
    <link rel="stylesheet" href="/static/style.css">
<script type="module" src="https://md-block.verou.me/md-block.js"></script>

<style>
</style>
  </head>
  <body>
	  <main id='main'>
		  <h1>{{ progress_message }}</h1>
		  <h2 class='progress bar' style="width:{{generation_progress_percent}}%">{{ generation_progress_percent}}%</h2>
	  </main>
  </body>
  <script>
	  window.setTimeout(function() {
		window.location.reload();		    
	    }, 5000);
  </script>
</html>
