<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ team.objective|default:"Denied" }} Team</title>
    <link rel="stylesheet" href="/static/style.css">
<script type="module" src="https://md-block.verou.me/md-block.js"></script>

<style>
</style>
  </head>
  <body>
	  <main id='main'>
	  {% if not team %}
	  <h1>Sorry, I can't help you make a team to do that. Try a different objective.</h1>
	  {% else %}
	  <h2><a href='/'>Home</a></h2>
	  <h1>Your <em>{{ team.objective }}</em> Team</h1>
	  <p>Use the handbooks provided to kickstart discussion among human team members
	  or have a kickoff chat with AI versions of them. Your real world team may 
	  need to combine roles, or duplicate them, or divide them...
	  </p>

	  <ul class='team'>
		  {% for role_name, role_dict in team.roles.items %}
		  <li>
			  <img class='team role avatar' src='{{ role_dict.image_url }}'>
			  <h2><a href='{{role_dict.linkedin_url|safe}}' target='_blank'>{{ role_name }}</a></h2>
			  <button onclick='showHandbook(this);'><span>Role Handbook</span></button>
			  <!-- this section must come directly after the button that shows it because my code is a joke-->
			  <section class='handbook'>
				  <h3>This is the handbook for your team's {{role_name}}, written in 
					  <a href='https://markdownlivepreview.com/'>markdown</a>. 
					  You can edit it to suit your needs, copy-paste it wherever you 
					  want. Use it to assume this role yourself or give it to other {{role_name}}(s), or
					  open up <a href='https://chat.openai.com/'>a chatbot</a>, paste this, delete the
					  handbook title, then have a 1-on-1 with your new AI {{role_name}}.

				  <button onclick='hideHandbook(this);'><span>Close</span></button>
				  </h3>
				  <textarea>{{ role_dict.guide }}</textarea>
			  </section>
			 
			  <p class='tasks'>{{ role_dict.tasks_string }}</p>
			  <ul class='tasks'>
				  {% for task in role_dict.tasks %}
				  <li>
					  {{ task }}
				  </li>
				  {% endfor %}
			  </ul>
			  <a class='role assumption button' href='chat?me={{role_dict.role.guid}}'><button><span>Assume this role in chat</span></button></a>
		  </li>
		  {% endfor %}
		  <!--<li>
			  <img class='team role avatar' src='{{ team.team.moderator_image_url }}'>
			  <h2>Moderator</h2>
			  <form method='GET' action='chat'>
				  <textarea class='moderator prompt' name='moderator_prompt'>{{ moderator_prompt }}</textarea>
				  <a><button class='role assumption button'><span>Assume this automated role in chat</span></button></a>
			  </form>
		  </li>-->
	  </ul>
	  {% endif %}
	  </main>
  </body>
  <script>
	  function hideHandbook() {
			    for (item of document.getElementsByClassName('handbook')) { item.style.display = 'none'; };
		    }
	  function showHandbook(buttonCaller) {
			    // get caller
			    // show section nearest modally or whatever
			    buttonCaller.nextElementSibling.style.display = "grid";

			    //document.getElementById('main').addEventListener("click", hideHandbook, { once: true });
			    event.stopPropagation()
		    }
	  document.onkeydown = function(evt) {
			    evt = evt || window.event;
			    var isEscape = false;
			    if ("key" in evt) {
				      isEscape = (evt.key === "Escape" || evt.key === "Esc");
			      } else {
					isEscape = (evt.keyCode === 27);
				}
			    if (isEscape) {
					      hideHandbook();
			      }
		    };

  </script>
</html>
